# Local database
db/*.db

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store
Thumbs.db

# Posibles restos de archivos no deseados traspapelados
*.properties

# Bases de datos locales (Fintech Suite)
data/*.db